@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;600&family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Azeret Mono', monospace;
}

h2 {
  font-size: 1.35rem;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.results-wrapper {
  width: 100%;
  padding: 0 3em 0 3em;
}

.results-wrapper h2 {
  display: inline-block;
  margin-right: 1em;
}

.results {
  border: 2px solid black;
  border-radius: 10px;
  height: 40vh;
  overflow-y: auto;
}

button {
  padding: 0.7em;
  background-color: lightgreen;
  border: 1px;
  border-radius: 5px;
  width: 20vw;
  cursor: pointer;
}

button:hover {
  background-color: rgb(127, 209, 127);
}

#submit {
  align-self: center;
}

input {
  height: 2rem;
  margin-bottom: 1.5em;
}

.score {
  padding: 0.5rem 1rem;
  margin: 0;
}

.score:nth-child(even) {
  background-color: lightgray;
}

.form-wrapper {
  width: 100%;
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  header h1 {
    justify-content: flex-start;
    margin-left: 2rem;
  }

  button {
    width: 8vw;
    height: 2.5rem;
  }

  input {
    width: 15vw;
    height: 3rem;
    font-size: 1rem;
    padding: 0 0.4rem;
  }

  .results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .results-wrapper {
    width: 50%;
  }

  .form-wrapper {
    width: 50%;
    padding-top: 0;
    padding-left: 2em;
    align-items: flex-start;
  }
}
